<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <title>U.S. Airport Flight Departures (on-Time or Late?)</title> -->

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" 
    integrity="sha256-FgpCb/KJQ1LNfOu91ta32o/NMZx1twRo8QtmkMRdAu8"
    crossorigin="anonymous"></script>

    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <!--<link rel="stylesheet" href="static/css/style.css"> -->
  </head>

  <body class="bg-dark" >
    <div class="container" style="background-color: rgb(181, 179, 235)!important; color:#4c2be2">
        <br>
        <div class="row">
          <!----  <h1 style="margin-left:100px;font-weight: bold">Welcome to Airline Departures Machine Learning Model</h1> -->
            <a style="margin-left:500px; font-size:xx-large;" href="/predictonesample">Model Prediction (On-time departure or late?)</a>
        </div>
        <br>
        <div class="row">
            <img style="margin-left:30px;" class=" rounded-circle mx-auto" scr="{{url_for('static', filename='images/img1.png')}}" alt="image" >
        </div>
        <br>
        <br>
    </div>
   
    

    <!--Original script from Module 11 challenge -->
      <div class="jumbotron">
        <h1 class="display-4">Predictions for On-Time & Late Departures at Major U.S. Airports</h1>
      </div>
      <div class="container-fluid">
        <div class="row">
        </div>
          <div class="col-md-4">
            <h2 class='captionOfmyPage'>What U.S. Airports have the Best record for on-time departures? and the Worst record for late departures?</h2>
          </div>

          <div class="col-md-8">
 <!----           <p>
              Predictions for on-time and late departures!
            </p> -->
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-offset-2 col-md-8 ">
                <form method="POST" action="/predictonesample" role="form", name="petform">
                  <div class="form-group">
                      <label style="margin-left: 12px;">Month</label>
                      <input type="number" class="form-control" id="input1" name="MONTH" placeholder="7" value="{{form_data.MONTH}}" step="1" min="1" max="12" />
                      <label style="margin-left: 12px;">Day of Week</label>
                      <input type="number" class="form-control" id="input2" name="DAY_OF_WEEK" placeholder="4" value="{{form_data.DAY_OF_WEEK"}} step="1" min="1" max="7" />
                      <label style="margin-left: 12px;">Distance Group</label>
                      <input type="number" class="form-control" id="input3" name="DISTANCE_GROUP" placeholder="6" value="{{form_data.DISTANCE_GROUP"}} step="1" min="1" max="11`" />
                      <label style="margin-left: 12px;">Segment Number</label>
                      <input type="number" class="form-control" id="input4" name="SEGMENT_NUMBER" placeholder="8" value="{{form_data.SEGMENT_NUMBER"}} step="1" min="1" max="15" />
                      <label style="margin-left: 12px;">Concurrent Flights</label>
                      <input type="number" class="form-control" id="input5" name="CONCURRENT_FLIGHTS" placeholder="65" value="{{form_data.CONCURRENT_FLIGHTS"}} step="1" min="1" max="109" />
                      <label style="margin-left: 12px;">Number of Seats</label>
                      <input type="number" class="form-control" id="input6" name="NUMBER_OF_SEATS" placeholder="200" value="{{form_data.NUMBER_OF_SEATS"}} step="1" min="44" max="337" />                 
                      <label style="margin-left: 12px;">Airport Flights per Month</label>
                      <input type="number" class="form-control" id="input7" name="AIRPORTS_FLIGHTS_MONTH" placeholder="20000" value="{{form_data.AIRPORTS_FLIGHTS_MONTH"}} step="1" min="1100" max="35256" />                 
                      <label style="margin-left: 12px;">Airline Flights per Month</label>
                      <input type="number" class="form-control" id="input8" name="AIRLINE_FLIGHTS_MONTH" placeholder="60000" value="{{form_data.AIRLINE_FLIGHTS_MONTH"}} step="1" min="5582" max="117728" />   
                      <label style="margin-left: 12px;">Airline Airport Flights per Month</label>
                      <input type="number" class="form-control" id="input9" name="AIRLINE_AIRPORT_FLIGHTS_MONTH" placeholder="10000" value="{{form_data.AIRLINE_AIRPORT_FLIGHTS_MONTH"}} step="1" min="1" max="21837" />   
                      <label style="margin-left: 12px;">Average Monthly Passengers per Airport</label>
                      <input type="number" class="form-control" id="input10" name="AVG_MONTHLY_PASS_AIRPORT" placeholder="2000000" value="{{form_data.AVG_MONTHLY_PASS_AIRPORT"}} step="1000" min="70476" max="4365661" />   
                      <label style="margin-left: 12px;">Average Monthly Passengers per Airline</label>
                      <input type="number" class="form-control" id="input11" name="AVG_MONTHLY_PASS_AIRLINE" placeholder="2000000" value="{{form_data.AVG_MONTHLY_PASS_AIRLINE"}} step="200000" min="473794" max="13383000" />   
                      <label style="margin-left: 12px;">Flights Attendants per Passenger</label>
                      <input type="number" class="form-control" id="input12" name="FLT_ATTENDANTS_PER_PASS" placeholder="0.0002" value="{{form_data.FLT_ATTENDANTS_PER_PASS"}} step="0.00005" min="0.0" max="0.000348407664" />
                      <label style="margin-left: 12px;">Ground Crew per Passenger</label>
                      <input type="number" class="form-control" id="input13" name="GROUND_SERV_PER_PASS" placeholder="0.00015" value="{{form_data.GROUND_SERV_PER_PASS"}} step=".00000001" min="7.13-06" max=".0002289854" />   
                      <label style="margin-left: 12px;">Plane Age</label>
                      <input type="number" class="form-control" id="input14" name="PLANE_AGE" placeholder="12" value="{{form_data.PLANE_AGE"}} step="1"  min="0" max="32" />   
                      <label style="margin-left: 12px;">Precipitation</label>
                      <input type="number" class="form-control" id="input15" name="PRCP" placeholder="0" value="{{form_data.PRCP}}" step="0.1" min="0" max="6" />
                      <label style="margin-left: 12px;">Snow</label>
                      <input type="number" class="form-control" id="input16" name="SNOW" placeholder="0" value="{{form_data.SNOW}}" step="0.1" min="0" max="12" />
                      <label style="margin-left: 12px;">SNWD</label>
                      <input type="number" class="form-control" id="input17" name="SNWD" placeholder="0" value="{{form_data.SNWD}}" step=".0.1" min="0" max="96" />
                      <label style="margin-left: 12px;">Max Temperature (degrees F)</label>
                      <input type="number" class="form-control" id="input18" name="TMAX" placeholder="75" value="{{form_data.TMAX}}" step="1" min="-40" max="120" />
                      <label style="margin-left: 12px;">AWND</label>
                      <input type="number" class="form-control" id="input19" name="AWND" placeholder="0" value="{{form_data.AWND}}" step="0.1" min="0" max="40" />
                      <br>
                      <!-- name="Departure Time Blocks" size="5" multiple> -->
                      <label style="margin-left: 12px;"> Departure Time Blocks</label>
                      <select name="DEP_TIME_BLK" >
                        <!--<option value=""> </option> -->
                        <option disabled selected value> -- select an option -- </option>
                        <!--<option value="0001_0559"> </option> -->
                        <option value="0001_0559" {% if form_data.DEP_TIME_BLK == "0001_0559" %} selected {% endif %}> 0001_0559 </option>
                        <!--<option value="0600_0659"> </option> -->
                        <option value="0600_0659" {% if form_data.DEP_TIME_BLK == "0600_0659" %} selected {% endif %}> 0600_0659 </option>
                        <!--<option value="0700_0759"> </option> -->
                        <option value="0700_0759" {% if form_data.DEP_TIME_BLK == "0700_0759" %} selected {% endif %}> 0700_0759 </option>
                        <!--<option value="0800_0859"> </option> -->
                        <option value="0800_0859" {% if form_data.DEP_TIME_BLK == "0800_0859" %} selected {% endif %}> 0800_0859 </option>
                        <!--<option value="0900_0959"> </option> -->
                        <option value="0900_0959" {% if form_data.DEP_TIME_BLK == "0900_0959" %} selected {% endif %}> 0900_0959 </option>
                        <!--<option value="1000_1059"> </option> -->
                        <option value="1000_1059" {% if form_data.DEP_TIME_BLK == "1000_1059" %} selected {% endif %}> 1000_1059 </option>
                        <!--<option value="1100_1159"> </option> -->
                        <option value="1100_1159" {% if form_data.DEP_TIME_BLK == "1100_1159" %} selected {% endif %}> 1100_1159 </option>
                        <!--<option value="1200_1259"> </option> -->
                        <option value="1200_1259" {% if form_data.DEP_TIME_BLK == "1200_1259" %} selected {% endif %}> 1200_1259 </option>
                        <!--<option value="1300_1359"> </option> -->
                        <option value="1300_1359" {% if form_data.DEP_TIME_BLK == "1300_1359" %} selected {% endif %}> 1300_1359 </option>
                        <!--<option value="1400_1459"> </option> -->
                        <option value="1400_1459" {% if form_data.DEP_TIME_BLK == "1400_1459" %} selected {% endif %}> 1400_1459 </option>
                        <!--<option value="1500_1559"> </option> -->
                        <option value="1500_1559" {% if form_data.DEP_TIME_BLK == "1500_1559" %} selected {% endif %}> 1500_1559 </option>
                        <!--<option value="1600_1659"> </option> -->
                        <option value="1600_1659" {% if form_data.DEP_TIME_BLK == "1600_1659" %} selected {% endif %}> 1600_1659 </option>
                        <!--<option value="1700_1759"> </option> -->
                        <option value="1700_1759" {% if form_data.DEP_TIME_BLK == "1700_1759" %} selected {% endif %}> 1700_1759 </option>
                        <!--<option value="1800_1859"> </option> -->
                        <option value="1800_1859" {% if form_data.DEP_TIME_BLK == "1800_1859" %} selected {% endif %}> 1800_1859 </option>
                        <!--<option value="1900_1959"> </option> -->
                        <option value="1900_1959" {% if form_data.DEP_TIME_BLK == "1900_1959" %} selected {% endif %}> 1900_1959 </option>
                        <!--<option value="2000_2059"> </option> -->
                        <option value="2000_2059" {% if form_data.DEP_TIME_BLK == "2000_2059" %} selected {% endif %}> 2000_2059 </option>
                        <!--<option value="2100_2159"> </option> -->
                        <option value="2100_2159" {% if form_data.DEP_TIME_BLK == "2100_2159" %} selected {% endif %}> 2100_2159 </option>
                        <!--<option value="2200_2259"> </option> -->
                        <option value="2200_2259" {% if form_data.DEP_TIME_BLK == "2200_2259" %} selected {% endif %}> 2200_2259 </option>
                        <!--<option value="2300_2359"> </option> -->
                        <option value="2300_2359" {% if form_data.DEP_TIME_BLK == "2300_2359" %} selected {% endif %}> 2300_2359 </option>
                      </select>
                      
                      <!-- name="Carrier Names" size="5" multiple> -->
                      <label style="margin-left: 12px;"> Carrier Names </label>
                      <select name="CARRIER_NAME" >
                        <!--<option value=""> </option> -->
                        <option disabled selected value> -- select an option -- </option>
                        <!--<option value="Alaska_Airlines_Inc"> </option> -->
                        <option value="Alaska_Airlines_Inc" {% if form_data.CARRIER_NAME == "Alaska_Airlines_Inc" %} selected {% endif %}> Alaska_Airlines_Inc </option>
                        <!--<option value="Allegiant_Air"> </option> -->
                        <option value="Allegiant_Air" {% if form_data.CARRIER_NAME == "Allegiant_Air" %} selected {% endif %}> Allegiant_Air </option>
                        <!--<option value="American_Airlines_Inc"> </option> -->
                        <option value="American_Airlines_Inc" {% if form_data.CARRIER_NAME == "American_Airlines_Inc" %} selected {% endif %}> American_Airlines_Inc </option>
                        <!--<option value="American_Eagle_Airlines_Inc"> </option> -->
                        <option value="American_Eagle_Airlines_Inc" {% if form_data.CARRIER_NAME == "American_Eagle_Airlines_Inc" %} selected {% endif %}> American_Eagle_Airlines_Inc </option>
                        <!--<option value="Atlantic_Southeast_Airlines"> </option> -->
                        <option value="Atlantic_Southeast_Airlines" {% if form_data.CARRIER_NAME == "Atlantic_Southeast_Airlines" %} selected {% endif %}> Atlantic_Southeast_Airlines </option>
                        <!--<option value="Comair_Inc"> </option> -->
                        <option value="Comair_Inc" {% if form_data.CARRIER_NAME == "Comair_Inc" %} selected {% endif %}> Comair_Inc </option>
                        <!--<option value="Delta_Air_Lines_Inc"> </option> -->
                        <option value="Delta_Air_Lines_Inc" {% if form_data.CARRIER_NAME == "Delta_Air_Lines_Inc" %} selected {% endif %}> Delta_Air_Lines_Inc </option>
                        <!--<option value="Endeavor_Air_Inc"> </option> -->
                        <option value="Endeavor_Air_Inc" {% if form_data.CARRIER_NAME == "Endeavor_Air_Inc" %} selected {% endif %}> Endeavor_Air_Inc </option>
                        <!--<option value="Frontier_Airlines_Inc"> </option> -->
                        <option value="Frontier_Airlines_Inc" {% if form_data.CARRIER_NAME == "Frontier_Airlines_Inc" %} selected {% endif %}> Frontier_Airlines_Inc </option>
                        <!--<option value="Hawaiian_Airlines_Inc"> </option> -->
                        <option value="Hawaiian_Airlines_Inc" {% if form_data.CARRIER_NAME == "Hawaiian_Airlines_Inc" %} selected {% endif %}> Hawaiian_Airlines_Inc </option>
                        <!--<option value="JetBlue_Airways"> </option> -->
                        <option value="JetBlue_Airways" {% if form_data.CARRIER_NAME == "JetBlue_Airways" %} selected {% endif %}> JetBlue_Airways </option>
                        <!--<option value="Mesa_Airlines_Inc"> </option> -->
                        <option value="Mesa_Airlines_Inc" {% if form_data.CARRIER_NAME == "Mesa_Airlines_Inc" %} selected {% endif %}> Mesa_Airlines_Inc </option>
                        <!--<option value="Midwest_Airline,_Inc"> </option> -->
                        <option value="Midwest_Airline,_Inc" {% if form_data.CARRIER_NAME == "Midwest_Airline,_Inc" %} selected {% endif %}> Midwest_Airline,_Inc </option>
                        <!--<option value="SkyWest_Airlines_Inc"> </option> -->
                        <option value="SkyWest_Airlines_Inc" {% if form_data.CARRIER_NAME == "SkyWest_Airlines_Inc" %} selected {% endif %}> SkyWest_Airlines_Inc </option>
                        <!--<option value="Southwest_Airlines_Inc"> </option> -->
                        <option value="Southwest_Airlines_Co" {% if form_data.CARRIER_NAME == "Southwest_Airlines_Co" %} selected {% endif %}> Southwest_Airlines_Co </option>
                        <!--<option value="Spirit_Air_Lines"> </option> -->
                        <option value="Spirit_Air_Lines" {% if form_data.CARRIER_NAME == "Spirit_Air_Lines" %} selected {% endif %}> Spirit_Air_Lines </option>
                        <!--<option value="United_Air_Lines_Inc"> </option> -->
                        <option value="United_Air_Lines_Inc" {% if form_data.CARRIER_NAME == "United_Air_Lines_Inc" %} selected {% endif %}> United_Air_Lines_Inc </option>
                      </select>
                      

                      

                      <!-- name="Departing Airports" size="5" multiple> -->
                      <label style="margin-left: 12px;"> Departing Airports </label>
                      <select name="DEPARTING_AIRPORT" >
                        <!--<option value=""> </option> -->
                        <option disabled selected value> -- select an option -- </option>
                        <!--<option value="Adams_Field"> </option> -->
                        <option value="Adams_Field" {% if form_data.DEPARTING_AIRPORT == "Adams_Field" %} selected {% endif %}> Adams_Field </option>
                        <!--<option value="Albany_International"> </option> -->
                        <option value="Albany_International" {% if form_data.DEPARTING_AIRPORT == "Albany_International" %} selected {% endif %}> Albany_International </option>
                        <!--<option value="Albuquerque_International_Support"> </option> -->
                        <option value="Albuquerque_International_Support" {% if form_data.DEPARTING_AIRPORT == "Albuquerque_International_Support" %} selected {% endif %}> Albuquerque_International_Support </option>
                        <!--<option value="Anchorage_International"> </option> -->
                        <option value="Anchorage_International" {% if form_data.DEPARTING_AIRPORT == "Anchorage_International" %} selected {% endif %}> Anchorage_International </option>
                        <!--<option value="Atlanta_Municipal"> </option> -->
                        <option value="Atlanta_Municipal" {% if form_data.DEPARTING_AIRPORT == "Atlanta_Municipal" %} selected {% endif %}> Atlanta_Municipal </option>
                        <!--<option value="Austin___Bergstrom_International"> </option> -->
                        <option value="Austin___Bergstrom_International" {% if form_data.DEPARTING_AIRPORT == "Austin___Bergstrom_International" %} selected {% endif %}> Austin___Bergstrom_International </option>
                        <!--<option value="Birmingham_Airport"> </option> -->
                        <option value="Birmingham_Airport" {% if form_data.DEPARTING_AIRPORT == "Birmingham_Airport" %} selected {% endif %}> Birmingham_Airport </option>
                        <!--<option value="Boise_Air_Terminal"> </option> -->
                        <option value="Boise_Air_Terminal" {% if form_data.DEPARTING_AIRPORT == "Boise_Air_Terminal" %} selected {% endif %}> Boise_Air_Terminal </option>
                        <!--<option value="Bradley_International"> </option> -->
                        <option value="Bradley_International" {% if form_data.DEPARTING_AIRPORT == "Bradley_International" %} selected {% endif %}> Bradley_International </option>
                        <!--<option value="Charleston_International"> </option> -->
                        <option value="Charleston_International" {% if form_data.DEPARTING_AIRPORT == "Charleston_International" %} selected {% endif %}> Charleston_International </option>
                        <!--<option value="Chicago_Midway_International"> </option> -->
                        <option value="Chicago_Midway_International" {% if form_data.DEPARTING_AIRPORT == "Chicago_Midway_International" %} selected {% endif %}> Chicago_Midway_International </option>
                        <!--<option value="Chicago_OHare_International"> </option> -->
                        <option value="Chicago_OHare_International" {% if form_data.DEPARTING_AIRPORT == "Chicago_OHare_International" %} selected {% endif %}> Chicago_OHare_International </option>
                        <!--<option value="Cincinnati_Northern_Kentucky_International"> </option> -->
                        <option value="Cincinnati_Northern_Kentucky_International" {% if form_data.DEPARTING_AIRPORT == "Cincinnati_Northern_Kentucky_International" %} selected {% endif %}> Cincinnati_Northern_Kentucky_International </option>
                        <!--<option value="Cleveland_Hopkins_International"> </option> -->
                        <option value="Cleveland_Hopkins_International" {% if form_data.DEPARTING_AIRPORT == "Cleveland_Hopkins_International" %} selected {% endif %}> Cleveland_Hopkins_International </option>
                        <!--<option value="Dallas_Fort_Worth_Regional"> </option> -->
                        <option value="Dallas_Fort_Worth_Regional" {% if form_data.DEPARTING_AIRPORT == "Dallas_Fort_Worth_Regional" %} selected {% endif %}> Dallas_Fort_Worth_Regional </option>
                        <!--<option value="Dallas_Love_Field"> </option> -->
                        <option value="Dallas_Love_Field" {% if form_data.DEPARTING_AIRPORT == "Dallas_Love_Field" %} selected {% endif %}> Dallas_Love_Field </option>
                        <!--<option value="Des_Moines_Municipal"> </option> -->
                        <option value="Des_Moines_Municipal" {% if form_data.DEPARTING_AIRPORT == "Des_Moines_Municipal" %} selected {% endif %}> Des_Moines_Municipal </option>
                        <!--<option value="Detroit_Metro_Wayne_County"> </option> -->
                        <option value="Detroit_Metro_Wayne_County" {% if form_data.DEPARTING_AIRPORT == "Detroit_Metro_Wayne_County" %} selected {% endif %}> Detroit_Metro_Wayne_County </option>
                        <!--<option value="Douglas_Municipal"> </option> -->
                        <option value="Douglas_Municipal" {% if form_data.DEPARTING_AIRPORT == "Douglas_Municipal" %} selected {% endif %}> Douglas_Municipal </option>
                        <!--<option value="El_Paso_International"> </option> -->
                        <option value="El_Paso_International" {% if form_data.DEPARTING_AIRPORT == "El_Paso_International" %} selected {% endif %}> El_Paso_International </option>
                        <!--<option value="Eppley_Airfield"> </option> -->
                        <option value="Eppley_Airfield" {% if form_data.DEPARTING_AIRPORT == "Eppley_Airfield" %} selected {% endif %}> Eppley_Airfield </option>
                        <!--<option value="Fort_Lauderdale_Hollywood_International"> </option> -->
                        <option value="Fort_Lauderdale_Hollywood_International" {% if form_data.DEPARTING_AIRPORT == "Fort_Lauderdale_Hollywood_International" %} selected {% endif %}> Fort_Lauderdale_Hollywood_International </option>
                        <!--<option value="Friendship_International"> </option> -->
                        <option value="Friendship_International" {% if form_data.DEPARTING_AIRPORT == "Friendship_International" %} selected {% endif %}> Friendship_International </option>
                        <!--<option value="General_Mitchell_Field"> </option> -->
                        <option value="General_Mitchell_Field" {% if form_data.DEPARTING_AIRPORT == "General_Mitchell_Field" %} selected {% endif %}> General_Mitchell_Field </option>
                        <!--<option value="Greater_Buffalo_International"> </option> -->
                        <option value="Greater_Buffalo_International" {% if form_data.DEPARTING_AIRPORT == "Greater_Buffalo_International" %} selected {% endif %}> Greater_Buffalo_International </option>
                        <!--<option value="Greenville_Spartanburg"> </option> -->
                        <option value="Greenville_Spartanburg" {% if form_data.DEPARTING_AIRPORT == "Greenville_Spartanburg" %} selected {% endif %}> Greenville_Spartanburg </option>
                        <!--<option value="Hollywood_Burbank_Midpoint"> </option> -->
                        <option value="Hollywood_Burbank_Midpoint" {% if form_data.DEPARTING_AIRPORT == "Hollywood_Burbank_Midpoint" %} selected {% endif %}> Hollywood_Burbank_Midpoint </option>
                        <!--<option value="Honolulu_International"> </option> -->
                        <option value="Honolulu_International" {% if form_data.DEPARTING_AIRPORT == "Honolulu_International" %} selected {% endif %}> Honolulu_International </option>
                        <!--<option value="Houston_Intercontinental"> </option> -->
                        <option value="Houston_Intercontinental" {% if form_data.DEPARTING_AIRPORT == "Houston_Intercontinental" %} selected {% endif %}> Houston_Intercontinental </option>
                        <!--<option value="Indianapolis_Muni_Weir_Cook"> </option> -->
                        <option value="Indianapolis_Muni_Weir_Cook" {% if form_data.DEPARTING_AIRPORT == "Indianapolis_Muni_Weir_Cook" %} selected {% endif %}> Indianapolis_Muni_Weir_Cook </option>
                        <!--<option value="Jacksonville_International"> </option> -->
                        <option value="Jacksonville_International" {% if form_data.DEPARTING_AIRPORT == "Jacksonville_International" %} selected {% endif %}> Jacksonville_International </option>
                        <!--<option value="James_M_Cox_Dayton_International"> </option> -->
                        <option value="James_M_Cox_Dayton_International" {% if form_data.DEPARTING_AIRPORT == "James_M_Cox_Dayton_International" %} selected {% endif %}> James_M_Cox_Dayton_International </option>
                        <!--<option value="John_F_Kennedy_International"> </option> -->
                        <option value="John_F_Kennedy_International" {% if form_data.DEPARTING_AIRPORT == "John_F_Kennedy_International" %} selected {% endif %}> John_F_Kennedy_International </option>
                        <!--<option value="Kahului_Airport"> </option> -->
                        <option value="Kahului_Airport" {% if form_data.DEPARTING_AIRPORT == "Kahului_Airport" %} selected {% endif %}> Kahului_Airport </option>
                        <!--<option value="Kansas_City_International"> </option> -->
                        <option value="Kansas_City_International" {% if form_data.DEPARTING_AIRPORT == "Kansas_City_International" %} selected {% endif %}> Kansas_City_International </option>
                        <!--<option value="Keahole"> </option> -->
                        <option value="Keyhole" {% if form_data.DEPARTING_AIRPORT == "Keahole" %} selected {% endif %}> Keahole </option>
                        <!--<option value="Kent_County"> </option> -->
                        <option value="Kent_County" {% if form_data.DEPARTING_AIRPORT == "Kent_County" %} selected {% endif %}> Kent_County </option>
                        <!--<option value="LaGuardia"> </option> -->
                        <option value="LaGuardia" {% if form_data.DEPARTING_AIRPORT == "LaGuardia" %} selected {% endif %}> LaGuardia </option>
                        <!--<option value="Lambert_St_Louis_International"> </option> -->
                        <option value="Lambert_St_Louis_International" {% if form_data.DEPARTING_AIRPORT == "Lambert_St_Louis_International" %} selected {% endif %}> Lambert_St_Louis_International </option>
                        <!--<option value="Lihue_Airport"> </option> -->
                        <option value="Lihue_Airport" {% if form_data.DEPARTING_AIRPORT == "Lihue_Airport" %} selected {% endif %}> Lihue_Airport </option>
                        <!--<option value="Logan_International"> </option> -->
                        <option value="Logan_International" {% if form_data.DEPARTING_AIRPORT == "Logan_International" %} selected {% endif %}> Logan_International </option>
                        <!--<option value="Long_Beach_Daugherty_Field"> </option> -->
                        <option value="Long_Beach_Daugherty_Field" {% if form_data.DEPARTING_AIRPORT == "Long_Beach_Daugherty_Field" %} selected {% endif %}> Long_Beach_Daugherty_Field </option>
                        <!--<option value="Los_Angeles_International"> </option> -->
                        <option value="Los_Angeles_International" {% if form_data.DEPARTING_AIRPORT == "Los_Angeles_International" %} selected {% endif %}> Los_Angeles_International </option>
                        <!--<option value="Louis_Armstrong_New_Orleans_International"> </option> -->
                        <option value="Louis_Armstrong_New_Orleans_International" {% if form_data.DEPARTING_AIRPORT == "Louis_Armstrong_New_Orleans_International" %} selected {% endif %}> Louis_Armstrong_New_Orleans_International </option>
                        <!--<option value="McCarran_International"> </option> -->
                        <option value="McCarran_International" {% if form_data.DEPARTING_AIRPORT == "McCarran_International" %} selected {% endif %}> McCarran_International </option>
                        <!--<option value="McGhee_Tyson"> </option> -->
                        <option value="McGhee_Tyson" {% if form_data.DEPARTING_AIRPORT == "McGhee_Tyson" %} selected {% endif %}> McGhee_Tyson </option>
                        <!--<option value="Memphis_International"> </option> -->
                        <option value="Memphis_International" {% if form_data.DEPARTING_AIRPORT == "Memphis_International" %} selected {% endif %}> Memphis_International </option>
                        <!--<option value="Metropolitan_Oakland_International"> </option> -->
                        <option value="Metropolitan_Oakland_International" {% if form_data.DEPARTING_AIRPORT == "Metropolitan_Oakland_International" %} selected {% endif %}> Metropolitan_Oakland_International </option>
                        <!--<option value="Miami_International"> </option> -->
                        <option value="Miami_International" {% if form_data.DEPARTING_AIRPORT == "Miami_International" %} selected {% endif %}> Miami_International </option>
                        <!--<option value="Minneapolis_St_Paul_International"> </option> -->
                        <option value="Minneapolis_St_Paul_International" {% if form_data.DEPARTING_AIRPORT == "Minneapolis_St_Paul_International" %} selected {% endif %}> Minneapolis_St_Paul_International </option>
                        <!--<option value="Myrtle_Beach_International"> </option> -->
                        <option value="Myrtle_Beach_International" {% if form_data.DEPARTING_AIRPORT == "Myrtle_Beach_International" %} selected {% endif %}> Myrtle_Beach_International </option>
                        <!--<option value="Nashville_International"> </option> -->
                        <option value="Nashville_International" {% if form_data.DEPARTING_AIRPORT == "Nashville_International" %} selected {% endif %}> Nashville_International </option>
                        <!--<option value="Newark_Liberty_International"> </option> -->
                        <option value="Newark_Liberty_International" {% if form_data.DEPARTING_AIRPORT == "Newark_Liberty_International" %} selected {% endif %}> Newark_Liberty_International </option>
                        <!--<option value="Norfolk_International"> </option> -->
                        <option value="Norfolk_International" {% if form_data.DEPARTING_AIRPORT == "Norfolk_International" %} selected {% endif %}> Norfolk_International </option>
                        <!--<option value="Northwest_Arkansas_Regional"> </option> -->
                        <option value="Northwest_Arkansas_Regional" {% if form_data.DEPARTING_AIRPORT == "Northwest_Arkansas_Regional" %} selected {% endif %}> Northwest_Arkansas_Regional </option>
                        <!--<option value="Ontario_International"> </option> -->
                        <option value="Ontario_International" {% if form_data.DEPARTING_AIRPORT == "Ontario_International" %} selected {% endif %}> Ontario_International </option>
                        <!--<option value="Orange_County"> </option> -->
                        <option value="Orange_County" {% if form_data.DEPARTING_AIRPORT == "Orange_County" %} selected {% endif %}> Orange_County </option>
                        <!--<option value="Orlando_International"> </option> -->
                        <option value="Orlando_International" {% if form_data.DEPARTING_AIRPORT == "Orlando_International" %} selected {% endif %}> Orlando_International </option>
                        <!--<option value="Palm_Beach_International"> </option> -->
                        <option value="Palm_Beach_International" {% if form_data.DEPARTING_AIRPORT == "Palm_Beach_International" %} selected {% endif %}> Palm_Beach_International </option>
                        <!--<option value="Palm_Springs_International"> </option> -->
                        <option value="Palm_Springs_International" {% if form_data.DEPARTING_AIRPORT == "Palm_Springs_International" %} selected {% endif %}> Palm_Springs_International </option>
                        <!--<option value="Pensacola_Regional"> </option> -->
                        <option value="Pensacola_Regional" {% if form_data.DEPARTING_AIRPORT == "Pensacola_Regional" %} selected {% endif %}> Pensacola_Regional </option>
                        <!--<option value="Philadelphia_International"> </option> -->
                        <option value="Philadelphia_International" {% if form_data.DEPARTING_AIRPORT == "Philadelphia_International" %} selected {% endif %}> Philadelphia_International </option>
                        <!--<option value="Phoenix_Sky_Harbor_International"> </option> -->
                        <option value="Phoenix_Sky_Harbor_International" {% if form_data.DEPARTING_AIRPORT == "Phoenix_Sky_Harbor_International" %} selected {% endif %}> Phoenix_Sky_Harbor_International </option>
                        <!--<option value="Piedmont_Triad_International"> </option> -->
                        <option value="Piedmont_Triad_International" {% if form_data.DEPARTING_AIRPORT == "Piedmont_Triad_International" %} selected {% endif %}> Piedmont_Triad_International </option>
                        <!--<option value="Pittsburgh_International"> </option> -->
                        <option value="Pittsburgh_International" {% if form_data.DEPARTING_AIRPORT == "Pittsburgh_International" %} selected {% endif %}> Pittsburgh_International </option>
                        <!--<option value="Port_Columbus_International_International"> </option> -->
                        <option value="Port_Columbus_International" {% if form_data.DEPARTING_AIRPORT == "Port_Columbus_International" %} selected {% endif %}> Port_Columbus_International </option>
                        <!--<option value="Portland_International"> </option> -->
                        <option value="Portland_International" {% if form_data.DEPARTING_AIRPORT == "Portland_International" %} selected {% endif %}> Portland_International </option>
                        <!--<option value="Portland_International_Jetport"> </option> -->
                        <option value="Portland_International_Jetport" {% if form_data.DEPARTING_AIRPORT == "Portland_International_Jetport" %} selected {% endif %}> Portland_International_Jetport </option>
                        <!--<option value="Puerto_Rico_International"> </option> -->
                        <option value="Puerto_Rico_International" {% if form_data.DEPARTING_AIRPORT == "Puerto_Rico_International" %} selected {% endif %}> Puerto_Rico_International </option>
                        <!--<option value="Raleigh_Durham_International"> </option> -->
                        <option value="Raleigh_Durham_International" {% if form_data.DEPARTING_AIRPORT == "Raleigh_Durham_International" %} selected {% endif %}> Raleigh_Durham_International </option>
                        <!--<option value="Reno_Tahoe_International"> </option> -->
                        <option value="Reno_Tahoe_International" {% if form_data.DEPARTING_AIRPORT == "Reno_Tahoe_International" %} selected {% endif %}> Reno_Tahoe_International </option>
                        <!--<option value="Richmond_International"> </option> -->
                        <option value="Richmond_International" {% if form_data.DEPARTING_AIRPORT == "Richmond_International" %} selected {% endif %}> Richmond_International </option>
                        <!--<option value="Rochester_Monroe_County"> </option> -->
                        <option value="Rochester_Monroe_County" {% if form_data.DEPARTING_AIRPORT == "Rochester_Monroe_County" %} selected {% endif %}> Rochester_Monroe_County </option>
                        <!--<option value="Ronald_Reagan_Washington_National"> </option> -->
                        <option value="Ronald_Reagan_Washington_National" {% if form_data.DEPARTING_AIRPORT == "Ronald_Reagan_Washington_National" %} selected {% endif %}> Ronald_Reagan_Washington_National </option>
                        <!--<option value="Sacramento_International"> </option> -->
                        <option value="Sacramento_International" {% if form_data.DEPARTING_AIRPORT == "Sacramento_International" %} selected {% endif %}> Sacramento_International </option>
                        <!--<option value="Salt_Lake_City_International"> </option> -->
                        <option value="Salt_Lake_City_International" {% if form_data.DEPARTING_AIRPORT == "Salt_Lake_City_International" %} selected {% endif %}> Salt_Lake_City_International </option>
                        <!--<option value="San_Antonio_International"> </option> -->
                        <option value="San_Antonio_International" {% if form_data.DEPARTING_AIRPORT == "San_Antonio_International" %} selected {% endif %}> San_Antonio_International </option>
                        <!--<option value="San_Diego_International_Lindbergh_Fl"> </option> -->
                        <option value="San_Diego_International_Lindbergh_Fl" {% if form_data.DEPARTING_AIRPORT == "San_Diego_International_Lindbergh_Fl" %} selected {% endif %}> San_Diego_International_Lindbergh_Fl </option>
                        <!--<option value="San_Francisco_International"> </option> -->
                        <option value="San_Francisco_International" {% if form_data.DEPARTING_AIRPORT == "San_Francisco_International" %} selected {% endif %}> San_Francisco_International </option>
                        <!--<option value="San_Jose_International"> </option> -->
                        <option value="San_Jose_International" {% if form_data.DEPARTING_AIRPORT == "San_Jose_International" %} selected {% endif %}> San_Jose_International </option>
                        <!--<option value="Sanford_NAS"> </option> -->
                        <option value="Sanford_NAS" {% if form_data.DEPARTING_AIRPORT == "Sanford_NAS" %} selected {% endif %}> Sanford_NAS </option>
                        <!--<option value="Savannah_Hilton_Head_International"> </option> -->
                        <option value="Savannah_Hilton_Head_International" {% if form_data.DEPARTING_AIRPORT == "Savannah_Hilton_Head_International" %} selected {% endif %}> Savannah_Hilton_Head_International </option>
                        <!--<option value="Seattle_International"> </option> -->
                        <option value="Seattle_International" {% if form_data.DEPARTING_AIRPORT == "Seattle_International" %} selected {% endif %}> Seattle_International </option>
                        <!--<option value="Southwest_Florida_International"> </option> -->
                        <option value="Southwest_Florida_International" {% if form_data.DEPARTING_AIRPORT == "Southwest_Florida_International" %} selected {% endif %}> Southwest_Florida_International </option>
                        <!--<option value="Spokane_International"> </option> -->
                        <option value="Spokane_International" {% if form_data.DEPARTING_AIRPORT == "Spokane_International" %} selected {% endif %}> Spokane_International </option>
                        <!--<option value="Standiford_Field"> </option> -->
                        <option value="Standiford_Field" {% if form_data.DEPARTING_AIRPORT == "Standiford_Field" %} selected {% endif %}> Standiford_Field </option>
                        <!--<option value="Stapleton_International"> </option> -->
                        <option value="Stapleton_International" {% if form_data.DEPARTING_AIRPORT == "Stapleton_International" %} selected {% endif %}> Stapleton_International </option>
                        <!--<option value="Syracuse_Hancock_International"> </option> -->
                        <option value="Syracuse_Hancock_International" {% if form_data.DEPARTING_AIRPORT == "Syracuse_Hancock_International" %} selected {% endif %}> Syracuse_Hancock_International </option>
                        <!--<option value="Tampa_International"> </option> -->
                        <option value="Tampa_International" {% if form_data.DEPARTING_AIRPORT == "Tampa_International" %} selected {% endif %}> Tampa_International </option>
                        <!--<option value="Theodore_Francis_Green_State"> </option> -->
                        <option value="Theodore_Francis_Green_State" {% if form_data.DEPARTING_AIRPORT == "Theodore_Francis_Green_State" %} selected {% endif %}> Theodore_Francis_Green_State </option>
                        <!--<option value="Truax_Field"> </option> -->
                        <option value="Truax_Field" {% if form_data.DEPARTING_AIRPORT == "Truax_Field" %} selected {% endif %}> Truax_Field </option>
                        <!--<option value="Tucson_International"> </option> -->
                        <option value="Tucson_International" {% if form_data.DEPARTING_AIRPORT == "Tucson_International" %} selected {% endif %}> Tucson_International </option>
                        <!--<option value="Tulsa_International"> </option> -->
                        <option value="Tulsa_International" {% if form_data.DEPARTING_AIRPORT == "Tulsa_International" %} selected {% endif %}> Tulsa_International </option>
                        <!--<option value="Washington_Dulles_International"> </option> -->
                        <option value="Washington_Dulles_International" {% if form_data.DEPARTING_AIRPORT == "Washington_Dulles_International" %} selected {% endif %}> Washington_Dulles_International </option>
                        <!--<option value="Will_Rogers_World"> </option> -->
                        <option value="Will_Rogers_World" {% if form_data.DEPARTING_AIRPORT == "Will_Rogers_World" %} selected {% endif %}> Will_Rogers_World </option>
                        <!--<option value="William_P_Hobby"> </option> -->
                        <option value="William_P_Hobby" {% if form_data.DEPARTING_AIRPORT == "William_P_Hobby" %} selected {% endif %}> William_P_Hobby </option>
                      </select>
                    </div>

                    <!-- type="submit" value="submit" id="input1" class="btn btn-default modelSubmit"> -->
                    <button style="margin-left:12px;" id="predict-btn" type="submit" class="btn btn-defaults">Predict</button>
                    <label style="margin-left:50px; color:rgba(235, 23, 62)"> Prediction Result</label>
                    <label style="margin-left:25px; color:rgb(235, 23, 62)" id="result"> {{prediction}} </label> 
                    <label style="margin-left:25px; color:rgb(235, 23, 94)" id="msg"> {{msg}} </label> 
                    <!-- <button style="margin-left:50px;" type="reset" value="Reset"</button> -->
                    <!-- <input type="reset" value="Reset"/> -->
                    <br>
                    <br>
                </form>

              </div>
            </div>

          </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
<!--<script src="./static/js/app.js"></script>-->
  </body>
  </html>